/* Home.css */

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    position: relative;
    padding: 0 20px;
  }
  
  .upload-form {
    width: 80%;
    max-width: 600px; /* Limit upload form width for better layout on smaller screens */
    height: 200px;
    margin-bottom: 30px;
    padding: 20px;
    border: 6px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box; /* Ensure padding and border are included in width */
  }
  
  .upload-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .uploaded-pdfs {
    width: 100%;
    max-width: 800px; /* Limit uploaded PDFs container width for better layout on smaller screens */
    padding: 20px;
    border: 6px solid #ccc;
    border-radius: 6px;
  }
  
  .uploaded-pdfs h2 {
    margin-bottom: 10px;
  }
  
  .pdf-list {
    margin-top: 10px;
  }
  
  .pdf-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc; /* Add border bottom to separate items */
  }
  
  .pdf-item:last-child {
    border-bottom: none; /* Remove bottom border for the last item */
  }
  
  .pdf-buttons {
    display: flex;
    align-items: center;
  }
  
  .view-pdf-button,
  .delete-pdf-button {
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .view-pdf-button {
    background-color: #2196f3;
    color: white;
    border: none;
  }
  
  .view-pdf-button:hover {
    background-color: #17344d;
  }
  
  .delete-pdf-button {
    background-color: #bf372e;
    color: white;
    border: none;
    margin-left: 10px;
  }
  
  .delete-pdf-button:hover {
    background-color: #d32f2f;
  }
  
  .logout-button {
    margin-top: 20px; /* Add margin to separate logout button */
    margin-bottom: 10px;
    padding: 8px 12px;
    background-color: #36043d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: #d32f2f;
  }
  