.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  margin-top: 100px;
  border: 1px solid #ece8ec;
  border-radius: 50px;
  position: relative;
  padding: 0 20px;
  color: #eee6ee;
}

.home-container h1 {
  color: #f0e2e2;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 300%;
}


.upload-form {
  width: 450px;
  height: 220px;
  margin-bottom: 30px;
  padding: 20px;
  border: 8px dotted #ffebfd;
  border-radius: 10px;
  box-sizing: border-box;

  color: #310336;
}


.upload-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.upload-form input[type="file"] {
  margin-bottom: 40px;
  padding: 8px;
  border: 8px solid #ebcde6;
  border-radius: 4px;
  background-color: hsl(300, 83%, 9%);
  color: #f5f1f6;
  font-size: 14px;
  cursor: pointer;
}

.upload-form button[type="submit"] {
  padding: 10px 20px;
  background-color: #581273;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upload-form button[type="submit"]:hover {
  background-color: #910043;
  transition: background-color 0.3s ease;
}

.uploaded-pdfs {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  border: 6px dotted #ffebfd;
  border-radius: 6px;
  color: #ece1ea;
  font-weight: lighter;
}

.uploaded-pdfs h2 {
  margin-bottom: 10px;
}

.pdf-list {
  margin-top: 10px;
  overflow-y: auto;
  max-height: 150px !important;
  scrollbar-width: thin;
  scrollbar-color: #fda0ef #583b53;
}

.pdf-list::-webkit-scrollbar {
  width: 10px;
}

.pdf-list::-webkit-scrollbar-track {
  background-color: #ece1ea;
  border-radius: 10px;

}

.pdf-list::-webkit-scrollbar-thumb {
  background-color: #ff18dc;
  border-radius: 4px;

}

.pdf-list::-webkit-scrollbar-thumb:hover {
  background-color: #ca9bcd;
}

.pdf-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 0;
  /* border-bottom: 1px solid #c982bd; */
  color: #f7c4ef;
  position: relative;
}

.pdf-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 1px;
  background-color: #c982bd;
}

.pdf-item:last-child {
  border-bottom: none;
}

.pdf-buttons {
  display: flex;
  align-items: center;
}

.view-pdf-button,
.delete-pdf-button {
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-pdf-button {
  background-color: #0063d4;
  color: #ffffff;
  border: none;
}

.view-pdf-button:hover {
  background-color: #44caff;
}

.delete-pdf-button {
  background-color: #d60064;
  color: #ffffff;
  /* Set text color to white */
  border: none;
  margin-left: 10px;
}

.delete-pdf-button:hover {
  background-color: #ff00b3;
}

.logout-button {
  margin-top: 20px;
  width: 12%;
  margin-bottom: 10px;
  padding: 8px 12px;
  background-color: #d6c7d8;
  color: #1b0417;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 600;
}

.logout-button:hover {
  background-color: #a803a8;
  color: white;
}